include ../utils
.post-meta
	.post-meta--left
		.post-author
			.post-author-avatar
				img(src="https://www.gravatar.com/avatar/400caf343d3bab57ab93f63e21a12be7?s=24")
			.post-author-name: a(href=post.author.github)= post.author.name
		.post-published
				datetime(data-published=post.date)= `on ` + prettyDate(post.date)
		.post-comments
			i.far.fa-comments
			a(href=`https://cogearjs.org/${post.uri}#disqus_thread`) 0
	.post-meta--right
		if post.tags
			.post-tags
				each tag in post.tags
					a.tag.is-light(href=`/blog/tag/${tag}`)= [tag[0].toUpperCase(),tag.slice(1)].join('')