mixin post(post)
	article.post.teaser
		header: h2: a(href=`/${post.uri}`)= post.title
		.post-content!= post.teaser ? post.teaser : post.content
		div.post-action
			a.button.is-light(href=`/${post.uri}`) Read more
		include meta