---
title: 'Cogear.JS – modern static websites generator'
version: 1.0.0
---
section#s1
	span
	header
		#logo
			span.fall-down(data-splitting="chars" ) Cogear.JS
		.description.animated.fadeInDown.delay-1s: span
	
	div.animated.fadeInDown.delay-2s
		a.action(href="/docs/") Get Started &rarr;
		//- #version= 'v'+version
	.scroll-downs: .mousey: .scroller
secton.block#video
	.container
		h2.centered(data-aos="fade-up") Introduction
		.video(data-aos="zoom-in") !https://youtu.be/nDga67P6lag?list=PLBuIATAeU0NWhrpWnI--TRG76DwAgem1I&hd
			//- a(href="https://youtu.be/gL3W4lA6FP0"): <i class="fab fa-youtube"></i>
			
section.block#s2
	.container
		h2.centered(data-aos="fade-up") How fast can you create a site?	
		.centered
			img(src="/images/term.svg" data-aos="flip-up")
		p.lead.centered(data-aos="zoom-in").
			In less than a second. <br>
			All you have left to do is to built and deploy it to the server.
		.spacer(data-aos="flip-left")
		h2.centered(data-aos="fade-up") <span class="brand">Cogear.JS</span> features:
		.features
			.feature(data-aos="fade-right")
				header 🚀 Blazing fast
				p.
					Generates 1000 pages per second, est.
					Static html files are loaded significantly faster than any dynamic programming language scripts.
			.feature(data-aos="fade-up")
				header <i class="fab fa-osi" style="color: green"></i> Open Sourced
				p.
					<a href="/docs/license/">License</a> that fit your needs. Free for everyone. Open to the world.
			.feature(data-aos="fade-left")
				header <i class="fab fa-node-js" style="color:#793c99"></i> Modern workflow
				p.
					Based on <a href="https://webpack.js.org">Webpack</a> you can use any npm package. Works with <a href="https://vuejs.org">Vue.JS</a>, <a href="https://reactjs.org">React</a>, <a href="https://angular.io">Angular</a> and every modern frontend framework. 
			.feature(data-aos="fade-right")
				header 🔓 Natively secured
				p.
					It's impossible to hack static html files. Never needed to load updates like CMS do. Bulletproof protection for ever.
			.feature(data-aos="fade-up")
				header <i class="fas fa-layer-group" style="color: orange"></i> Templates polyglot
				p.
					Generates pages from <b>Markdown</b>, <b>Pug</b>, <b>EJS</b>, <b>Handlebars</b> or any other node-compiled markup language (by plugins).
			.feature(data-aos="fade-left")
				header 🚚  Deploy ready
				p.
					Upload to the server via <b>FTP</b>, <b>SFTP</b> or even <code>rsync</code> built in. Deploy in a seconds. Create presets and use them to speed up your deploy.
			.feature(data-aos="fade-right")
				header <i class="fas fa-database" style="color: silver"></i> No database is required
				p.
					Flat files data storage. Simple server setup. No need for software updates.
			.feature(data-aos="fade-up")
				header 📦 Bundled assets
				p.
					Assets from different npm packages imported in your scripts are piped into <b>Webpack</b> workflow, minimized and optimized.
			.feature(data-aos="fade-left")
				header 📄 Nice docs
				p.
					User-friendly <a href="/docs">documentation</a> will help you to learn the basics and to deep dive into advanced knowledge.
		.spacer(data-aos="flip-right")
			link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css")
			#mc_embed_signup(data-aos="fade-up")
				h2.centered(data-aos="fade-up") Join our newsletter
				form(action="https://cogearjs.us19.list-manage.com/subscribe/post?u=697d87872e2a44b1277ec2d68&amp;id=7040c345d3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank")
					#mc_embed_signup_scroll
						.mc-field-group
							label(for="mce-EMAIL") Email
							input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" required)
						#mce-responses
							#mce-error-response.response(style="display:none")
							#mce-success-response.response(style="display:none")
						div(style="position: absolute; left: -5000px;" aria-hidden="true")
							input(type="text" name="b_697d87872e2a44b1277ec2d68_7040c345d3" tabindex="-1" value="")
						.clear
							input.action(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")
		.spacer(data-aos="flip-right")
		p.lead.big.centered(data-aos="zoom-in").
			Just try it. Install. Make a first site in a minutes.
		#install(data-aos="flip-down")
			a.action(href="/docs#installation") How to install &rarr;