---
title: 'Cogear.JS – modern static websites generator'
version: 1.0.0
---
section#s1
	span
	header
		#logo.animated.zoomIn Cogear.JS
		.description: span
	
	a.action(href="/docs/") Get Started &rarr;
		//- #version= 'v'+version
	.scroll-downs: .mousey: .scroller
section.block#s2
	.container
		h2.centered(data-aos="fade-up") How fast can you create a site?	
		.centered
			img(src="~images/term.svg" data-aos="flip-up")
		p.lead.centered(data-aos="zoom-in").
			In less than a second. <br>
			All you have left to do is to built and deploy it to the server.
		.spacer(data-aos="flip-left")
		h2.centered(data-aos="fade-up") <span class="brand">Cogear.JS</span> generated sites features:
		.features
			.feature(data-aos="fade-right")
				header <i class="fas fa-rocket"></i> Blazing fast
				p.
					Server handles pure html loads a way faster that any dynamic programming language.
			.feature(data-aos="fade-up")
				header <i class="fas fa-piggy-bank"></i> Extremly cheap
				p.
					Works at any server. Any. <br>Even for free (at <a href="https://pages.github.com">Github Pages</a>, <a href="https://heroku.com">Heroku</a>, <a href="https://now.sh">now.sh</a>, etc).
			.feature(data-aos="fade-left")
				header <i class="fas fa-lock"></i> Natively secured
				p.
					It's impossible to hack pure html. Never needed to load updates like CMS do. Bulletproof protection for ever.
			.feature(data-aos="fade-right")
				header <i class="fab fa-node-js"></i> Modern workflow
				p.
					Based on <a href="https://webpack.js.org">Webpack</a> you can use any npm package. Works with <a href="https://vuejs.org">Vue.JS</a>, <a href="https://reactjs.org">React</a>, <a href="https://angular.io">Angular</a> and every modern frontend framework. 
			.feature(data-aos="fade-up")
				header <i class="fas fa-layer-group"></i> Templates polyglot
				p.
					Generates pages from <b>Markdown</b>, <b>Pug</b>, <b>EJS</b>, <b>Handlebars</b> or any other node-compiled markup language.
			.feature(data-aos="fade-left")
				header <i class="fas fa-shipping-fast"></i> Extremely performant
				p.
					Generate hundreeds of pages for a few seconds. Easily can be used for blogging.
			.feature(data-aos="fade-right")
				header <i class="fas fa-database"></i> No database is required
				p.
					All pages data neede for compilation is stored in the filesystem. Database will never fails. No errors on server after site is being deployed.
			.feature(data-aos="fade-up")
				header <i class="fas fa-cube"></i> Bundled assets
				p.
					Assets from different npm packages imported in your scripts are piped into <b>Webpack</b> workflow, minimized and optimized, and even compressed for the production.
			.feature(data-aos="fade-left")
				header <i class="fas fa-cloud-upload-alt"></i> Easily deployed
				p.
					Create a preset and deploy your site to the favorite hosting with a touch of your fingers.
		.spacer(data-aos="flip-right")
			link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css")
			#mc_embed_signup(data-aos="fade-up")
				h2.centered(data-aos="fade-up") Join our newsletter
				form(action="https://cogearjs.us19.list-manage.com/subscribe/post?u=697d87872e2a44b1277ec2d68&amp;id=7040c345d3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank")
					#mc_embed_signup_scroll
						.mc-field-group
							label(for="mce-EMAIL") Email
							input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" required)
						#mce-responses
							#mce-error-response.response(style="display:none")
							#mce-success-response.response(style="display:none")
						div(style="position: absolute; left: -5000px;" aria-hidden="true")
							input(type="text" name="b_697d87872e2a44b1277ec2d68_7040c345d3" tabindex="-1" value="")
						.clear
							input.action(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")
		.spacer(data-aos="flip-right")
		p.lead.big.centered(data-aos="zoom-in").
			Just try it. Install. Make a first site in a minutes.
		#install(data-aos="flip-down")
			a.action(href="/docs#installation") How to install &rarr;