---
title: 'Cogear.JS – modern static websites generator'
---
section#s1
	span
	header
		#logo.animated.zoomIn Cogear.JS
		.description: span
	.scroll-downs: .mousey: .scroller
section.block#s2
	.container
		h2.centered(data-aos="fade-up") How fast can you build a site?	
		.centered
			img(src="http://via.placeholder.com/600x300" data-aos="flip-up")
		h2.centered(data-aos="fade-up") Why sometimes static sites are better then CMS:
		.features
			.feature(data-aos="fade-right")
				header <i class="fas fa-rocket"></i> Blazing fast
				p.
					Server handles pure html loads a way faster that any dynamic programming language.
			.feature(data-aos="fade-up")
				header <i class="fas fa-piggy-bank"></i> Extremly cheap
				p.
					Works at any server. Any. <br>Even for free (at <a href="https://pages.github.com">Github Pages</a>, <a href="https://heroku.com">Heroku</a>, <a href="https://now.sh">now.sh</a>, etc).
			.feature(data-aos="fade-left")
				header <i class="fas fa-lock"></i> Natively secured
				p.
					It's impossible to hack pure html. Never needed to load updates like CMS do. Bulletproof protection for ever.
			.feature(data-aos="fade-right")
				header <i class="fab fa-node-js"></i> Modern workflow
				p.
					Based on <a href="https://webpack.js.org">Webpack</a> you can use any npm package. Works with <a href="https://vuejs.org">Vue.JS</a>, <a href="https://reactjs.org">React</a>, <a href="https://angular.io">Angular</a> and every modern frontend framework. 
			.feature(data-aos="fade-up")
				header <i class="fas fa-layer-group"></i> Templates polyglot
				p.
					Generates pages from <b>Markdown</b>, <b>Pug</b>, <b>EJS</b>, <b>Handlebars</b> or any other node-compiled markup language.
			.feature(data-aos="fade-left")
				header <i class="fas fa-shipping-fast"></i> Extremely performant
				p.
					Generate hundreeds of pages for a few seconds. Easily can be used for blogging.
			.feature(data-aos="fade-right")
				header <i class="fas fa-database"></i> No database required
				p.
					All pages data neede for compilation is stored in the filesystem. Database will never fails. No errors on server after site is being deployed.
			.feature(data-aos="fade-up")
				header <i class="fas fa-cube"></i> Bundled assets
				p.
					Assets from different npm packages imported in your scripts are piped into <b>Webpack</b> workflow, minimized and optimized, and even compressed for the production.
			.feature(data-aos="fade-left")
				header <i class="fas fa-cloud-upload-alt"></i> Easily deployed
				p.
					Create a preset and deploy your site to the favorite hosting with a touch of your fingers.