@import './_vars.styl'
@keyframes bg { 
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
body
	background #FFF
	font-family "Nunito", sans-serif;
	font-size 100%
	@media(max-width $breakpoints.mobile)
			font-size 80% !important
	min-height 100vh
.brand
		font-family: 'Montserrat', sans-serif;
.navbar
	z-index 100
	user-select: none
	position fixed !important
	top 0
	width 100vw
	background transparent !important
	transition background 2s ease-out
	z-index 10
	a
		color #FFF !important
	.navbar-menu.is-active
		background: linear-gradient(45deg,alpha(#522262,.7),alpha($purple,.7),alpha($light_purple,.7)) !important
		box-shadow 0px 3px 5px rgba(0,0,0,.4)
		z-index 100
	.navbar-brand 
		a.logo
				font-weight: bold; !important
				display  inline-block
				transform: translateY(-120%)
				transition: transform .1s ease-out 0
				font-family: 'Montserrat', sans-serif;
				font-size: 1.4em
				text-shadow: 0px 1px 3px rgba(0,0,0,1)
	a.navbar-item
		color #FFF !important
	a.navbar-item:hover
			background transparent !important
			text-decoration underline
			color #FFF !important
	&.active
		background: linear-gradient(45deg,alpha(#522262,.8),alpha($purple,.8),alpha($light_purple,.8)) !important
	&.scroll-active
		background: linear-gradient(45deg,#522262,$purple,$light_purple) !important
		background-size: 400% 400%;
		animation: bg 5s ease infinite;
		transition background 2s ease-out 1s
		.navbar-brand
		 	// background: linear-gradient(45deg,#522262,$purple,$light_purple) !important
			a.logo
				transform: translateY(0)
				transition transform .5s ease-out .2s
		div.navbar-item
			transition color 1s ease-in
			border-top 1px solid rgba(255,255,255,.6)
			color #FFF
			text-align center
#s1
	width 100vw
	height 100vh
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	user-select: none
	background: linear-gradient(45deg,#522262,#662D8C,#852D91)	
	background-size cover
	background-size: 400% 400%;
	animation: bg 15s ease infinite;
	position relative
	overflow hidden
	&::before
	&::after
		position absolute
		bottom 0
		background #FFF
		content: ' '
		width 110vw
		height 100vh
		border-radius  500em
		// filter: blur(2px)
		// box-shadow -1px 10px 3px rgba(0,0,0,.1)
		opacity .1
		z-index 1
	&::before
		right 0
		transform rotate(0deg) translate(50%,70%)
	&::after
		left 0
		transform rotate(0deg) translate(-50%,70%)
	header
		text-align center
		color #FFF
		perspective 1000px
		#logo
			font-weight: bold
			font-family: 'Montserrat', sans-serif;
			font-size 4rem
			@media(max-width $breakpoints.tablet)
					font-size 3rem
			text-shadow 2px 2px 3px rgba(0,0,0,.8)
			position relative
			&::after
				content: ' '
				width 100%
				height 200px
				transform rotate3D(0,1.2,1,180deg) scale(0.8) translate(0,100px);
				z-index 0
				transition transform 1s ease-out
				border-radius 500rem
				position absolute
				bottom -150px
				left 0
				background: rgba(0,0,0,.05)
		.description
			text-shadow 1px 1px 1px rgba(0,0,0,1)
			font-size 1.2rem
			@media(max-width $breakpoints.tablet)
				font-size 1.1rem
#s2
	z-index 2
	background #FFF
	min-height 50vh
	.features
		margin 50px 0
		display grid
		grid-template-columns 1fr 1fr 1fr
		grid-column-gap 2em
		grid-row-gap 2em
		@media(max-width $breakpoints.mobile)
				grid-template-columns 1fr
		.feature
			min-height 150px
			@media(max-width $breakpoints.mobile)
					min-height 50px
			header
				color #000
				font-weight bold
				font-size 1.4em
				svg
					color rgba(0,0,0,.5) !important
.block
	padding 20px
	.centered
		text-align center
	.box
		back
	img
		margin 15px 0
	h1,h2,h3,h4,h5
		color black
	h1
		font-size 2em !important
		@media(max-width $breakpoints.mobile)
			font-size 1.4rem !important
	h2
		font-size 1.9em !important
		@media(max-width $breakpoints.mobile)
			font-size 1.3rem !important
	h3
		font-size 1.8em !important
		@media(max-width $breakpoints.mobile)
			font-size 1.2rem !important
.scroll-downs { 
  width: 30px;
  height: 55px;
	margin-bottom: 0px !important
}
.mousey {
  width: 3px;
	padding: 5px 10px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


.action
	color #FFF
	z-index 3
	// font-family: 'Montserrat', sans-serif;
	font-size 1.2em
	border 2px solid rgba(255,255,255,1)
	border-radius 3em
	padding 10px
	background linear-gradient(45deg,$light_purple,$purple)
	margin-bottom -20px
	width 250px !important
	display inline-block
	text-align center
	transition: transform 1s ease-out 1s, box-shadow .3s ease-in-out .5s;
	box-shadow 0px 3px 5px rgba(0,0,0,.3)
	&:hover
		color #FFF !important
		box-shadow 0px 5px 5px rgba(0,0,0,.4)
		transition: transform 1s ease-out, box-shadow .5s ease-in-out .1s;
		transform translate(0,-10px)
.spacer
		margin 30px 0
		border-top 1px solid rgba(0,0,0,.1)
.lead
		&.big
			font-size 1.6em
#install
		display flex
		align-items center
		justify-content:  center
		margin 40px 0 50px
#mc_embed_signup
	padding 0 !important
	margin 0 !important
	form
		padding 0 !important
		margin 0 !important
		width 100%
	h2
		font-weight normal !important
	input[type="email"]
		font-family "Nunito", sans-serif !important
		padding 10px !important
		font-size 1.2em
		line-height  1.2em
		text-indent 0 !important
	.mc-field-group
		padding 0 !important
		margin 0 !important
	input.action
		display block
		margin 30px auto
		border-radius 30px
		font-size 1.2em
		line-height  1.2em
		padding 10px
		transition: transform .3s ease-out .5s, box-shadow .3s ease-in-out .5s !important
		height 50px
		border 3px solid #FFF