@import './_vars.styl'
nav.navbar
	background: linear-gradient(to right,$purple,$light_purple)
	.navbar-brand
		.navbar-item
			color: #FFF !important
		font-weight: bold
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4em
		text-shadow: 0px 1px 3px rgba(0,0,0,1)
	a
		color: #FFF
		&:hover
			text-decoration: underline
.is-desktop
	@media(max-width $breakpoints.desktop)
		display none
.menu-wrapper
	position: sticky !important
	top 10px
	overflow auto
	max-height 100vh
main
	.container
		display: flex
		align-items: top
		flex-direction: row
		justify-content: center
		@media(max-width $breakpoints.tablet)
			flex-direction column
			> aside
				// width 100% !important
				margin-bottom 20px
				border-bottom 1px solid rgba(0,0,0,.2)
		@media(max-width 1120px) and (min-width: 768px)
			justify-content: left !important
			// > aside
			// 	width 200px !important
			// 	min-width 0 !important
			// > section
			// 	max-width 75vw !important
		> aside
			padding-top: 10px
			padding-left: 0px
			border-right: 1px solid rgba(0,0,0,.1)
			min-width: 200px
			margin-right: 20px
			@media(max-width: $breakpoints.tablet)
				margin-right 0 !important
			.menu-label
				padding-left: 10px
			> ul
				overflow auto
				margin-top: 10px !important
				> li
					> a
						&.is-active
							background-color: light_purple !important
							font-weight: bold
					> ul
						> li
							a.is-active
								background: rgba(0,0,0,.1) !important
								color: black !important
		> section
			margin-top: 0px
			flex: 1
			min-height: 100vh
			max-width 768px
			padding: 15px 20px 20px 0
			border-right 1px solid rgba(0,0,0,.1)
			@media(min-width: $breakpoints.tablet)
				width: 70vw
			// @media(min-width: 1120px)
			// 	max-width: $breakpoints.desktop
			img
				max-width 100%
				height auto
			@media(max-width: $breakpoints.tablet)
				padding 5px 20px 20px
			ul
				li
					list-style-type: disc
.prevnext
	display: flex
	justify-content: space-between
@media(max-width: $breakpoints.tablet)
	h1
		font-size: 1.4em !important
	h2
		font-size: 1.3em !important
	h3
		font-size: 1.2em !important
	h4
		font-size: 1.1em !important
h1,h2,h3,h4,h5
	&:hover
		> a.link
			opacity 1
			transform translate(0,0)
	> a.link
		opacity 0
		transform translate(10px,0)
		display inline-block
		transition opacity .4s ease-in, transform .3s ease-out
		color rgba(0,0,0,.1) !important
		margin-left 5px
		font-family: 'Montserrat', sans-serif
		font-size 0.8em
		vertical-align middle
		&:hover
			color rgba(0,0,0,.3) !important
			svg
				transform rotate(45deg) 
		svg
			transition transform .2s ease-in