@import '_vars.styl'
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navigation
	background: linear-gradient(to right,$purple,rgba(148,0,171,0.7))
	@media(max-width: $breakpoints.desktop)
		position sticky !important
		z-index 1000
		top 0
	nav.navbar
		display flex
		background transparent !important
		@media(max-width: $breakpoints.desktop)
			flex-direction column
	.navbar-brand
		margin 0 !important
		@media(max-width: $breakpoints.desktop)
			display flex
			flex 1
			flex-direction row
			justify-content space-between
		.navbar-item
			color: #FFF !important
		font-weight: bold
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4em
		text-shadow: 0px 1px 3px rgba(0,0,0,1)
	a
		color: #FFF
		&:hover
			text-decoration: underline
	.navbar-menu
		@media(max-width: $breakpoints.desktop)
			opacity .5 !important
.is-desktop
	@media(max-width $breakpoints.desktop)
		display none
body
	@media(max-width $breakpoints.tablet)
		font-size 85%
body > .container
	main
		display: flex
		align-items: flex-start
		flex-direction: row
		justify-content: center
		@media(max-width $breakpoints.tablet)
			flex-direction column
		@media(max-width 1120px) and (min-width: 768px)
			justify-content: left !important
		> aside
			padding: 10px 0 20px;
			min-width 200px
			border-right: 1px solid rgba(0,0,0,.1)
			@media(max-width $breakpoints.tablet)
				border-bottom 1px solid rgba(0,0,0,.2)
				margin-bottom 20px
			@media(min-width: $breakpoints.tablet)
				position: sticky !important
				top 10px
				min-width: 200px
				overflow auto
				max-height 100vh
			@media(max-width: $breakpoints.tablet)
				margin-right 0 !important
				width 100%
			.menu-label
				padding-left: 10px
			> ul
				overflow auto
				margin-top: 10px !important
				> li
					> a
						&.is-active
							background-color: light_purple !important
							font-weight: bold
					> ul
						> li
							a.is-active
								background: rgba(0,0,0,.1) !important
								color: black !important
		> article
		> section
			font-size 1rem
			margin-top: 0px
			flex: 1
			min-height: 100vh
			padding: 15px 20px 20px 20px
			max-width 768px
			border-right 1px solid rgba(0,0,0,.1)
			@media(min-width: $breakpoints.tablet+10)
				width: 80vw
			// @media(min-width: 1120px)
			// 	max-width: $breakpoints.desktop
			img
				max-width 100%
				height auto
			@media(max-width: $breakpoints.tablet)
				max-width 100%
				padding 5px 20px 20px
			ul
				li
					list-style-type: disc
.prevnext
	display: flex
	justify-content: space-between
	a
		&:hover
			text-decoration none !important
			.step
				text-decoration underline

@media(max-width: $breakpoints.tablet)
	h1
		font-size: 1.4em !important
	h2
		font-size: 1.3em !important
	h3
		font-size: 1.2em !important
	h4
		font-size: 1.1em !important
h1
	position: sticky !important
	top 0px
	@media(max-width: $breakpoints.desktop)
		top 50px
	padding 5px 0 0
	background #FFF
h1,h2,h3,h4,h5
	a:hover
		> a.link
			opacity 1
	a 
		color black !important
		text-decoration none !important
		user-select none
		i
			opacity 0
			display inline-block
			transition opacity .4s ease-in, transform .3s ease-out
			color rgba(0,0,0,.1) !important
			margin-left 5px
			font-family: 'Montserrat', sans-serif
			font-size 0.8em
			vertical-align middle
			transform translate(20px,0)
		&:hover
			i
				// transition transform .2s ease-in
				opacity 1
				color rgba(0,0,0,.3) !important
				transform translate(0,0) rotate(45deg) 
.fluid-width-video-wrapper
	margin 15px 0 20px !important
pre
	code
		z-index 1 !important