block footer
    footer
        p#copyleft.
            Proudly built with <a href="https://cogearjs.org">Cogear.JS</a> © 2018
script !function(e,t,a){(t[a]=t[a]||[]).push(function(){try{t.yaCounter50030920=new Ya.Metrika2({id:50030920,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0})}catch(e){}});var c=e.getElementsByTagName("script")[0],n=e.createElement("script"),r=function(){c.parentNode.insertBefore(n,c)};n.type="text/javascript",n.async=!0,n.src="https://mc.yandex.ru/metrika/tag.js","[object Opera]"==t.opera?e.addEventListener("DOMContentLoaded",r,!1):r()}(document,window,"yandex_metrika_callbacks2");
noscript: div: img(src="https://mc.yandex.ru/watch/50030920" style="position:absolute; left:-9999px;" alt="")