.navigation
	.container
		nav.navbar(role="navigation" aria-label="main navigation")
			.navbar-brand 
				.navbar-item: a(href="/" data-turbolinks="false") COGEAR.JS
				a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="menu")
					span(aria-hidden="true")
					span(aria-hidden="true")
					span(aria-hidden="true")
			.navbar-menu.animated.faster#menu
				.navbar-start
					.navbar-item: a(href="/docs") Docs
					.navbar-item#search
				.navbar-end
					.navbar-item: a(href="/blog" data-turbolinks="false") Blog
					.navbar-item: a(href="/video") Video
					.navbar-item: a(href="https://github.com/codemotion/cogear.js") Github
					.navbar-item: a(href="https://github.com/codemotion/cogear.js/issues") Issues
					.navbar-item: a(href="https://github.com/codemotion/cogear.js/wiki") Wiki
					.navbar-item: a(href="/docs/license") License