-function prettyDate(dateString){
		//if it's already a date object and not a string you don't need this line:
		-var c = new Date()
		-var date = new Date(dateString);	
		-var d = date.getDate();
		-var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
		-var m = monthNames[date.getMonth()];
		-var y = date.getFullYear();
		-return `${m} ${d} ${date.getFullYear() == c.getFullYear() ? '' : ', '+date.getFullYear()}`
-}