mixin link(href,text)
	li
		a(href="/"+href class=(path==href+'/index.html' ? "is-active" : ''))= text
		if block
			ul.menu-list
				block
doctype html
html(lang="en")
	head
		title= title + ' | Docs | ' + cogear.config.title
		include includes/header
		block head
	body
		block content
			include includes/nav
			.container
				main
					aside.menu
						input#menu-toggle(type="checkbox")
						p.menu-label
							span#version v1.0.x
							label.show(for="menu-toggle")
								span Show
								i.fas.fa-toggle-off
							label.hide(for="menu-toggle")
								span Hide
								i.fas.fa-toggle-on
						ul.menu-list
							+link("docs","Getting started")
							+link("docs/workflow","Workflow")
							+link("docs/pages","Pages")
							+link("docs/layouts","Layouts")
							+link("docs/resources","Resources")
							+link("docs/themes","Themes")
							+link("docs/plugins","Plugins")
							+link("docs/webpack","Webpack")
							+link("docs/deploy","Deploy")
							+link("docs/license","License")
							+link("docs/changes","Changes")
							+link("docs/support","Support")
					article.markdown-body
						!= content
			include includes/footer
						