doctype html
head
	title= title
	link(rel="shortcut icon" href="~favicon.png" type="image/png")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	meta(name="description" content="Cogear.JS – modern static websites generator")
	meta(name="author" content="Dmitriy Beliaev")
	meta(name="keywords" content="cogear,webpack,node,javascript,markdown,generator,website,hot-reload,themes,plugins,github")
	meta(property="og:title" content="Cogear.JS")
	meta(property="og:type" content="website")
	meta(property="og:url" content="https://cogearjs.org/")
	meta(property="og:description" content="Cogear.JS – modern static websites generator")
	meta(property="og:image" content="https://i.imgur.com/CAgv2ts.jpg")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:title" content="Cogear.JS")
	meta(name="twitter:creator" content="@cogearjs")
	meta(name="twitter:description" content="Cogear.JS – modern static websites generator")
	meta(name="twitter:image" content="https://i.imgur.com/CAgv2ts.jpg")
	meta(name="theme-color" content="#662D8C")
	block head
body
	navbar.navbar#nav(role="navigation" aria-label="main navigation")
		.navbar-brand 
				a.navbar-item.logo(href="/") COGEAR.JS
				a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="menu")
					span(aria-hidden="true")
					span(aria-hidden="true")
					span(aria-hidden="true")
		.navbar-menu.animated.faster#menu
			.navbar-start
			.navbar-end
				a.navbar-item(href="/docs") Docs
				a.navbar-item(href="/blog") Blog
				a.navbar-item(href="/videos") Videos
				a.navbar-item(href="https://github.com/codemotion/cogear.js") Github
				a.navbar-item(href="https://github.com/codemotion/cogear.js/issues") Issues
				a.navbar-item(href="/docs/license") License
				.navbar-item#version v1.0.0
				
	block content
		!= content
	block footer
		footer
			p#copyleft.
				Proudly built with <a href="https://cogearjs.org" class="brand">Cogear.JS</a> © 2018
